# Rust
render-server/target/

# Flutter
mobile/build/
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/*.iml
mobile/android/.gradle/
mobile/ios/Pods/
mobile/ios/.symlinks/

# System
.DS_Store
*.swp
*.swo
mobile/ios/build/
render-server/target/
*.db
